.DS_Store
.idea
.vscode/
log



eval_results/

# Pytorch Dataset
data/*
# Pytorch Models
models/my_model/*
*.pth
*.onnx

# images

*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
