.DS_Store
.idea
log
data/*
models/my_model/*

eval_results/

# Pytorch Models


# images

*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
